* { 
    background-color: white;
    font-family: system-ui;
}

header {
    padding: 20px;
    background-color: grey;
}

.nav {
    float: right;
    background-color: grey;
}

.nav-link {
    background-color: grey;
    color: orangered;
    padding: 10px;
}

h1 {
    display: inline;
    background-color: grey;
    color: white;
}

#tagline {
    margin-top: 20px;
    position:;
}

/* The logo */
#logo {
    width: 80px;
   float: left;
}

/* The Form */

.form-container {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-color: orange;
    margin-top: 50px;
  }

input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-color: green;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: lightskyblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px;
}

input[type=submit]:hover {
  background-color: #45a049;
}


/* The Footer */

footer {
    margin-top: 300px;
    padding: 20px;
    background-color: grey;
}